@charset "UTF-8";
body, h1, h2, h3, h4, p, div, li, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
   반응형할때
   분기점 정하기 ( 보틍은 피그마에서 확인가능 하나 모바일버전을 분기점별 만들어주는것 은 아니다)
   내부안의 반응형
   외부의 반응형
   ////////////////
   제작노하우
   1. 일관된 스타일부터 먼저 처리 ( 글자색, 배경색 등등 )
   2. position부터 세팅하고 (abs, rel, fix 순이 편함 )
   3. display 세팅한다.
   4. 자바스크립트와 연동일 경우 클래스를 생성하고 진행한다.
*/
#hd {
  background-color: black;
  padding: 8px 0;
}
#hd div {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1440px) {
  #hd div {
    padding: 0 15px;
  }
}
#hd div h1 {
  max-width: 180px;
  width: 26vw;
}
#hd div h1 a {
  display: block;
}
#hd div h1 a img {
  width: 100%;
  display: block;
}
#hd div ul {
  display: flex;
}
@media (max-width: 767px) {
  #hd div ul {
    position: fixed;
    left: 100%;
    transition: 0.5s;
    width: 100%;
    background-color: black;
    top: 35px;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
  }
}
#hd div ul li {
  margin: 0 15px;
  font-size: 5vw;
}
@media (min-width: 768px) {
  #hd div ul li {
    font-size: 22px;
    margin-left: 30px;
    margin-right: 0;
  }
}
#hd div ul li a {
  color: white;
}

#m_menu {
  background-color: transparent;
  border: 0;
  width: 30px;
}
@media (min-width: 768px) {
  #m_menu {
    display: none;
  }
}
#m_menu span {
  display: block;
  height: 2px;
  background-color: white;
  transition: 0.5s;
}
#m_menu span:nth-child(2) {
  margin: 5px 0;
}

#hd.active ul {
  left: 0;
}
#hd.active #m_menu span:nth-child(2) {
  width: 0;
}